//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
//</Подключаем шрифты>===================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: 'Roboto';
//</Шрифт по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
@import 'variables.scss';
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import 'null.scss';
body {
    color: #000;
    font-size: 14px;
    background: #e5e5e5;
    &.lock {
        overflow: hidden;
    }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
    max-width: $mw + px;
    margin: 0 auto;
    width: 100%;
    @media (max-width: $md1+px) {
        max-width: 970px;
    }
    @media (max-width: $md2+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }
}
//</ОСНОВНАЯ СЕТКА>==============================================================================
